<!doctype html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>About <%= appName %></h1>
  <p>This app helps you log and track workouts.</p>
</body>
</html>